.box{
    width:385px;
    height:90px;
    }

    .column {
        float: left;
        width: 45%;
        padding: 5px;
      }
      
<<<<<<< HEAD
      #color {
        width: 60%;
        font-family: sans-serif;
        color: #070303;
        font-size: 14px;
    }

=======
>>>>>>> 0775fb123e60637b9560cbf5b8b4dc4dd3e9eb54
      /* Clearfix (clear floats) */
      .row::after {
        content: "";
        clear: both;
        display: table;
      }
    
    .blue{
    background: #044b8d;
    }   

    img{            
    width: 90px;
    height: 90px;
    }

    .modal-content {
        float: left;
                        }
    
    .text-content {
        display: table-cell;
        padding-left: 265px;
    }

    html, body {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 25px;
        margin: 0;
        min-height: 180px;
        width: 384px;
        
    }

    .modal-icons {
        border-top: 35px solid  #044b8d;
        height: 50px;
        width: 100%;
    }
     
    .bottom-border{
        border-bottom: 35px solid  #044b8d;
        height: 50px;
        width: 100%;
    }

    .version{
        color: #444;
        font-size: 18px;
        
    }
    
    #Text{
        font-size: 12px;
        padding: 100px;
    }
    
    #custom-button {
padding: 10px;
color: white;
background-color: #004594;
border: 1px solid #000;
cursor: pointer;
     }

#custom-button:hover {
background-color: #0b8eb6;
    }

#custom-text {
margin-left: 10px;
font-family: sans-serif;
color: #aaa;
font-size: 12px
    }

    button.link_one{ 
        background:none;
        border:none; 
        font-size: 15px;
        text-align:center;
    }

    button.link_one:hover{ 
     color: #6085ec;
    }

    

    #caption1{
        font-size: 12px;
    }

    #caption2{
        font-size: 12px;
    }

<<<<<<< HEAD
    #caption_final{
        font-size: 12px;
    }
    
=======
>>>>>>> 0775fb123e60637b9560cbf5b8b4dc4dd3e9eb54
    #result {
        width: 60%;
        font-family: sans-serif;
        color: #fc0000;
        font-size: 14px;
    }
<<<<<<< HEAD

    #embedded_img
    {
        width: 170px;
        height: 170px;
        border: 1px solid #000000; 
    }
=======
>>>>>>> 0775fb123e60637b9560cbf5b8b4dc4dd3e9eb54
