* {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  /* Clearfix (clear floats) */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  html, body {
      font-family: 'Open Sans', sans-serif;
      font-size: 25px;
      margin: 0;
      min-height: 180px;
      padding: 0;
      width: 384px;
  }
  
  h1 {
      font-family: 'Menlo', Georgia, 'Times New Roman', Times, serif;
      font-size: 180px;
      font-weight: 1200;
      margin: 0;
      color: #2f5876;
  }
  
  img{
      width: 75px;
  }
  
  .modal-header {
  
      align-items: center;
      border-bottom: 35px solid #044b8d;
  }
  
  .modal-content {
      padding: 0 50px;
  }
  
  .modal-icons {
      border-top: 35px solid  #044b8d;
      height: 50px;
      width: 100%;
  }
  
  .logo {
      padding: 16px;
  }
  
  .logo-icon {
      vertical-align: text-bottom;
      margin-right: 12px;
  }
  
  .version{
      color: #444;
      font-size: 10px;
  }
  
  #startBttn {
          padding: 10px;
          color: white;
          background-color: #004594;
          border: 1px solid #000;
          cursor: pointer;
      }
  
      #startBttn:hover {
          background-color: #0b8eb6;
      }
  
      #custom-text {
          margin-left: 30px;
          font-family: sans-serif;
          color: #aaa;
          font-size: 12px;
      }
  
      #statusMes {
          margin: auto;
          width: 60%;
          font-family: sans-serif;
          color: #fc0000;
          font-size: 12px;
      }
      
      #statusMesPartTwo {
        margin: auto;
        font-family: sans-serif;
        color: #fc0000;
        font-size: 12px;

    }

