.box{
    width:385px;
    height:90px;
    }
   
    .column {
        float: left;
        width: 45.33%;
        padding: 5px;
      }
      
      #caption1{
        font-size: 9px;
    }
    
      /* Clearfix (clear floats) */
      .row::after {
        content: "";
        clear: both;
        display: table;
      } 
    .blue{
    background: #044b8d;
    }   

    img{            
        width: 90px;
        height: 90px;
     
        } 
 
    .modal-content {
        

    }
    

    .img_upload{
       float: left;
        width:40%;
        height:10px;
        position: relative;
        top: 315px;
    }

    #color {
        width: 60%;
        font-family: sans-serif;
        color: #070303;
        font-size: 14px;
    }

    html, body {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 25px;
        margin: 0;
        min-height: 180px;
        width: 384px;
        
    }

    .modal-icons {
        border-top: 35px solid  #044b8d;
        height: 50px;
        width: 100%;
    }
     
    .version{
        color: #444;
        font-size: 18px;
    }
    
    button.link_one{ 
        background:none;
        border:none; 
        font-size: 15px;
        text-align:center;
    }

    button.link_one:hover{ 
     color: #6085ec;
    }


   