* {
    box-sizing: border-box;
  }
  
.box{
    width:385px;
    height:90px;
    }
    
    .column {
    float: left;
    padding: 5px;
    }

    /* Clear floats after image containers */
    .row::after {
    content: "";
    clear: both;
    display: table;
}

    .blue{
    background: #044b8d;
    }   

    img{            
    width: 90px;
    height: 90px;

    }

    .modal-content {
        float: left;
    }
    
    .text-content {
        font-size: 15px;
    }

    html, body {
        font-family: 'Open Sans', Arial, Helvetica, sans-serif;
        font-size: 25px;
        margin: 0;
        min-height: 180px;
        width: 384px;
        
    }

    .modal-icons {
        border-top: 35px solid  #044b8d;
        height: 10px;
        width: 100%;
    }
     
    .version{
        color: #444;
        font-size: 18px;
    }
    
    #buttonOne{ 
        background:none;
        border:none; 
        font-size: 15px;
    }

    #buttonTwo{ 
        background:none;
        border:none; 
        font-size: 15px;
    }

    #buttonThree{ 
        background:none;
        border:none; 
        font-size: 15px;
    }

    #buttonFour{ 
        background:none;
        border:none; 
        font-size: 15px;
    }

    #buttonOne:hover{ 
     color: #6085ec;
    }

    #buttonTwo:hover{ 
        color: #6085ec;
    }

    #buttonThree:hover{ 
        color: #6085ec;
    }

    #buttonFour:hover{ 
        color: #6085ec;
    }


