.column {
    float: left;
    width: 25%;
    padding: 5px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
             .box{
              width:385px;
              height:90px;
              }
              
              #caption1{
                  font-size: 9px;
              }
  
              .blue{
              /*Top Colored Bar*/
              background: #044b8d;
              }   
  
              img{            
              width: 90px;
              height: 90px;
              background:  #f5f7f8;
              }
  
              .modal-content {
                  float: left;
              }
              
              .text-content {
                 font-size: 15px;
              }
  
              html, body {
                  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
                  font-size: 25px;
                  margin: 0;
                  min-height: 180px;
                  width: 384px;
                  
              }
        
              .bottom-header {
                /*Bottom Colored Bar*/
                font-size: 12px;
                border-top: 35px solid  #044b8d;
                height: 10px;
                width: 100%;
              }
               
  
               .social_logos{
                  padding-left: 85px;
               }
  
  
              .version{
                  color: #444;
                  font-size: 18px;
              }
              
              .bottom-text{
                  font-size: 15px;
                  padding-left: 35px;
              }
  
              button.link_one{ 
                  background:none;
                  border:none; 
                  font-size: 15px;
              }
  
              button.link_two{ 
                  background:none;
                  border:none; 
                  font-size: 15px;
              }
  
              button.link_one:hover{ 
               color: #6085ec;
              }
  
              button.link_two:hover{ 
                  color: #6085ec;
              }